benchmarks:
  mini_app:
    runner: "MiniApp"
    gpu_counts:
      - 1
      - 2
      - 4
      - 8
    sizes:
      - "A"
      - "B"
      - "C"
      - "D"
      - "E"
      - "F"

collection_modes:
  perf:
    pmu_count: 4
  memory:
#    modes:
#      - high_watermark
#      - memory_over_time
  nvidia:
    modes:
#      - api_trace
      - gpu_trace
      - power_over_time
      - power_summary
    gen: sm_80

formatter_modes:
- PandasPickle
- CSV

perf_counters:
- Instructions
- cpu-cycles
- LLC-stores
- page-faults
- major-faults

iterations: 1
time_count: 1000
log: true
test_name: DEFAULTNAME
